@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<html>
    <head>
        <title>Lollercaust</title>
        <link rel="stylesheet" type="text/css" href="../../Content/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../../Content/app.css" />
    </head>
    <body>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </body>
</html>